* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --ff-primary: "Overpass", sans-serif;
  --fs-lght: 300;
  --fs-reg: 400;
  --fs-bld: 700;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-sm: 0.4rem;

  --clr-light: #ededed;
  --clr-accent: #cfcfcf;
  --clr--primary: #bf223c;
  --clr-secondary: #2c2e30;
  --clr-txt: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-image: url(popcorn.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 480px) {
  body {
    background-size: 100% 100%;
    margin: 0 auto;
  }
}

@media (min-width: 810px) {
  body {
    max-width: 700px;
  }

  .card {
    max-height: 400px;
  }
}

header {
  text-align: center;
  height: 290px;
  max-width: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid var(--clr-secondary);
  background-color: var(--clr-secondary);
  border-radius: 6px;
  padding: 1em 0;
  opacity: 0.95;
}

.title {
  font-size: var(--fs-h1);
  color: var(--clr--primary);
}

.title,
.sub-title {
  margin: 0.1em auto;
}

.sub-title,
.label {
  color: var(--clr-txt);
}

.form {
  display: grid;
  width: 30%;
  margin: 0 auto;
}

.label {
  margin: 0.4em;
}

.input,
.button {
  margin: 0.35em;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

.input {
  border: 1px solid #91979c;
}

.button {
  border: none;
  background: var(--clr--primary);
  text-transform: uppercase;
  color: var(--clr-txt);
  font-weight: var(--fs-bld);
}

.button:hover {
  background: #ec2d4e;
  transition: background 1s ease;
}

.input:hover,
.input:active,
.input:focus {
  outline: none !important;
  border: 1px solid #ababab;
  transition: border 2s ease;
}

.list {
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  width: 100%;
  margin: 1.5em auto;
  padding: 1em 1em;
  display: flex;
  border: 1.6px solid var(--clr-secondary);
  background: var(--clr-secondary);
  opacity: 0.95;
  border-radius: 6px;
}

.content {
  margin: 1em 1em;
  line-height: 1;
  color: var(--clr-txt);
}
.content h3 {
  font-size: 2rem;
}
.description {
  font-size: 0.9rem;
}

.rating {
  color: #ffd700;
}
